<%- include ("./static/header") %>
<%- include ("./static/sidebar") %>
<%- include ("./static/navbar") %>




<nav aria-label="breadcrumb" id="nav3014">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="/mainMenu" class="text-white"><span class="fas fa-arrow-circle-left text-white"></span> Menu</a></li>
    <li class="breadcrumb-item"><a href="/conteo_ciclico" class="text-white"><span class="fas fa-arrow-circle-left text-white"></span> SType</a></li>
    <li class="breadcrumb-item active text-white-50" aria-current="page"> SBin</li> 
  </ol>
</nav>

<nav aria-label="breadcrumb" id="nav3015">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://10.56.99.21:3015/mainMenu" class="text-warning"><span class="fas fa-arrow-circle-left text-warning"></span> Menu</a></li>
    <li class="breadcrumb-item active" aria-current="page">Conteo Ciclico</li>
  </ol>
</nav>

<nav aria-label="breadcrumb" id="nav3017">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://10.56.99.21:3017/mainMenu" class="text-info"><span class="fas fa-arrow-circle-left text-info"></span> Menu</a></li>
    <li class="breadcrumb-item active" aria-current="page">Conteo Ciclico</li>
  </ol>
</nav>


<div class="col-lg-12 frame">

  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header d-none d-md-block"><strong>Datos de Usuario</strong></div>
        <div class="card-body">
          <table class="table table-sm borderless">
            <tbody>
              <tr>
                <td><small><strong>ID:</strong></small></td>
                <td><small id="user_id"><%= user_id %></small> </td>
              </tr>
              <tr>
                <td><small><strong>Nombre:</strong></small></td>
                <td><small id="user_name"><%= user_name  %></small> </td>
              </tr>
              <tr>
                <td><small><strong>Storage Type:</strong></small></td>
                <td><small id="storage_type"><%= storage_type  %></small> </td>
              </tr>
              <tr >
                <td><small><strong>Dispositivo:</strong></small></td>
                <td><small id="estacion"><%= estacion  %></small> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>

  <div class="container text-center mb-5">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">


        <h4 class="text-center animate__animated animate__bounceIn d-none d-md-block" display: inline-block>Ingresar Storage Bin:</h4>
        <span class="fas fa-search text-light mt-2" style="font-size: 2rem;"></span>
        <form id="submitBin">
          <div class="form-group">
            <label for="storage_bin">Storage Bin</label>
            <input type="text" class="form-control" name="storage_bin" id="storage_bin" aria-describedby="helpId"
              placeholder="" autocomplete="off" class="text-uppercase" required>
            <small id="helpId" class="form-text text-muted"><i class="fas fa-barcode"
                style="font-size: 2rem;"></i></small>
          </div>
        </form>
        <div class="alert alert-danger animate__flipOutX animate__animated role=" alert" id="alerta_prefijo">Error:
          Verificar escaneo
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>

  </div>

  <div class="d-none d-lg-block">
  

  </div>
</div>





<!-- Small modal Error-->
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header card-mov">
        <img src="/img/sap.png" alt="SAP" srcset="" class="card-mov">
        <h3 class="card-mov"> Error(s): <span class="badge badge-danger" id="cantidadErrores"></span> </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-lg-12">

            <h5 id="errorText" hidden><span class="fas fa-exclamation-circle text-danger"></span><span id="errorTextField"></span></h5>

            <div id="tabla_consulta_container" class="table-responsive">
              <table id="tabla_consulta" class="table table-hover table-sm  table-striped text-center ">
                <thead class="thead-dark">
                  <tr>
                    <th>Serial</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- INFO AGREGADA DESDE JAVASCRIPT -->
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button id="btnCerrar_Error" type="button" class="btn btn-outline-warning btnCerrar" data-dismiss="modal">Cerrar
        </button>

      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div class="row">
          <div class="col-lg">
      
            <div class="card">
              <div class="card-header ">
                <div class="row">
                  <div class="col-9">
                    Storage Unit(s): <strong id="storage_units_count"></strong>
                  </div>
                  <div class="col-2">
                    <button id="btn_verifyCount" type="button" class="btn btn-secondary btn-sm" ><h5 class="m-0"><span class="fas fa-external-link-square-alt"></span></h5></button>
                  </div>
                </div>
              </div>

              <div class="card-body bg-secondary text-center">
                <form id="submitSU">
                  <label class="text-white"><i class="fas fa-barcode "></i> Storage Bin: <span id="sbin"></span></label>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="" id="inp_verifyCount" autocomplete="off">
                    <div class="input-group-append">
                      <span class="input-group-text" >
                        <span id="alerta_prefijo2" class="badge badge-danger  fas fa-times animate__animated animate__flipOutX bg-danger"><span class=""></span></span>
                      </span>
                    </div>
                  </div>

              </form>
              </div>

              <div class="card-footer text-center">                
                <div class="form-group">
                  <div id="current_storage_units">
      
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-danger btnCerrar" data-dismiss="modal">Cerrar <span class="fas fa-times-circle"></span></button>
      
      </div>

    </div>
  </div>
</div>


<!-- Small modal Success-->
<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header card-mov">
        <img src="/img/sap.png" alt="SAP" srcset="" class="card-mov">
        <h4 class="card-mov">Procesado Finalizado</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2">
            <i class="far fa-check-square text-success" style="font-size: 2rem;"> </i>
          </div>
          <div class="col">
            <p id="successText"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btnCerrar" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Small modal Error2-->
<div class="modal fade" id="modalError2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header card-mov">
        <img src="/img/sap.png" alt="SAP" srcset="" class="card-mov">
        <h4 class="card-mov">Error:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2">
            <i class="fas fa-exclamation-circle text-danger" style="font-size: 2rem;"> </i>
          </div>
          <div class="col text-center">
            <p id="errorText2"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btnCerrar" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Spinners -->
<div class="modal fade" id="modalSpinner" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title "> <span class="animate__animated animate__infinite animate__flipInY text-secondary  fas fa-stopwatch"></span>
          Procesando</h2>
        <div class="spinner-grow spinner-grow-sm text-warning mt-4 cdelay-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow spinner-grow-sm text-primary mt-4 cdelay-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow spinner-grow-sm text-secondary mt-4 cdelay-3" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal CountDown -->
<div class="modal fade" id="modalCountDown" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header text-center">
        
          <h2 class="modal-title "> <span class="animate__animated animate__infinite animate__flipInY text-secondary  fas fa-stopwatch"></span>
            Procesando</h2>
          <div class="spinner-grow spinner-grow-sm text-warning mt-4 cdelay-1" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm text-primary mt-4 cdelay-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm text-secondary mt-4 cdelay-3" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
          <div class="modal-body">
            <div class="row ">
                <div class="col-lg-12 text-center">
                  <h2 class=""> <span id="beginOF"></span> - <span id="endOF"></span></h2>
                </div>
            </div>
         </div>
     
    </div>
  </div>
</div>


<%- include ("./static/footer") %>
<script type="text/javascript" src="/js/functions/conteoC.js"></script>

</body>

</html>